@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.logo {
  height: 4em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.js:hover {
  filter: drop-shadow(0 0 2em #e4fb61aa);
}
.logo.ng:hover {
  filter: drop-shadow(0 0 2em #fb6161aa);
}
.logo.c:hover {
  filter: drop-shadow(0 0 2em #e161fbaa);
}

 .boton {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.boton:hover {
  background:rgb(220 38 38 / 0.75) !important;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(219, 36, 36, 0.749),
              0 0 25px rgb(220 38 38 / 0.75),
              0 0 50px rgb(220 38 38 / 0.75),
              0 0 100px rgb(220 38 38 / 0.75);
}

.sombra{
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.sombra:hover{
  transition: all 0.5s ease;
  transform: translateY(-5px);
}

.move:hover{
  transform: translateY(-3px);
}